---
// Import the necessary components
import MainLayout from '@/layouts/MainLayout.astro';
import FeaturesNavs from '@components/sections/features/FeaturesNavs.astro';
import smallbus from '@images/handshake.png';
import experience from '@images/experience.png';
import { SITE } from '@data/constants';

const pageTitle: string = `Expertise | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': 'https://vcc-4u.com/expertise',
    url: 'https://vcc-4u.com/expertise',
    name: 'Expertise | Value Creation Consulting',
    description:
      'Paul Hightower, our principal, brings to the table many years of experience and expertise.',
    isPartOf: {
      '@type': 'WebSite',
      url: 'https://vcc-4u.com',
      name: 'Value Creation Consulting',
      description:
        'Value Creation Consulting helps small business owners transform their business from a job into a wealth-building asset.',
    },
    inLanguage: 'en-US',
  }}
>
  <h1
    class="pt-10 lg:pt-14 text-center text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 md:text-4xl"
  >
    Expertise
  </h1>
  <FeaturesNavs
    title=`<span class="text-blue-400 dark:text-blue-400">Paul Hightower</span>, our principal, brings to the table`
    tabs={[
      {
        heading: '15 years of small business ownership experience. ',
        content: `<ul class='pl-4 list-disc list-outside mt-1 text-pretty text-neutral-700 dark:text-neutral-300'>
          <li class="mt-2">Bought Instrumentation Technology System (ITS), a privately held C corporation, at a time when it was struggling to earn a profit and had products that were about to be overtaken by newer technology.</li>
          <li class="mt-2">Pulled ITS through a hiccup in its marketplace which pushed to company to high debt, low sales and little cash.</li>
          <li class="mt-2">After twelve years, the company was reinvented, added important strategic supply-chain and engineering partners, new market leading products were developed and delivered to the market, margins grew from 30% to 55% and revenue was doubled.</li>
          <li class="mt-2">The company was sold for 10x stakeholders investments.</li>
          </ul>`,
        svg: 'smallbus',
        src: smallbus,
        alt: 'Yellow and black heavy equipment on brown grass field',
        first: true,
      },
      {
        heading: 'Experience as',
        content: `<ul class='pl-4 list-disc list-outside mt-1 text-pretty text-neutral-700 dark:text-neutral-300'>
          <li class="mt-2">CEO (ITS), COO (18 years over 3 companies)</li>
          <li class="mt-2">Program Manager (6 years)</li>
          <li class="mt-2">Direct of Engineering (3 companies over 15 years)</li>
          </ul>`,
        svg: 'experience',
        src: experience,
        alt: 'A screenshot or graphic representation of the intuitive dashboard',
        second: false,
      },
    ]}
  />
</MainLayout>
