---
// Import the necessary components
import MainLayout from '@/layouts/MainLayout.astro';
import FeaturesNavs from '@components/sections/features/FeaturesNavs.astro';
import smallbus from '@images/handshake.png';
import experience from '@images/experience.png';
import { SITE } from '@data/constants';

const pageTitle: string = `Expertise | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': 'https://vcc-4u.com/expertise',
    url: 'https://vcc-4u.com/expertise',
    name: 'Expertise | Value Creation Consulting',
    description:
      'Paul Hightower, our principal, brings to the table many years of experience and expertise.',
    isPartOf: {
      '@type': 'WebSite',
      url: 'https://vcc-4u.com',
      name: 'Value Creation Consulting',
      description:
        'Value Creation Consulting helps small business owners transform their business from a job into a wealth-building asset.',
    },
    inLanguage: 'en-US',
  }}
>
  <h1
    class="pt-10 lg:pt-14 text-center text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 md:text-4xl"
  >
    Expertise
  </h1>
  <FeaturesNavs
    title=`<span class="text-blue-400 dark:text-blue-400">Paul Hightower</span>, our principal, brings to the table`
    tabs={[
      {
        heading: '15 years owning and scaling small businesses under fire.',
        content: `<ul class='pl-4 list-disc list-outside mt-1 text-pretty text-neutral-700 dark:text-neutral-300'>
          <li class="mt-2">Acquired Instrumentation Technology Systems (ITS), a distressed C-corp facing profit droughts and obsolete tech.</li>
          <li class="mt-2">Navigated a market crisis that spiked debt, cratered sales, and drained cash reserves.</li>
          <li class="mt-2">Delivered a 12-year turnaround by forging strategic supply-chain and engineering alliances, launching category-leading products, boosting margins from 30% to 55%, doubled revenue.</li>
          <li class="mt-2">Exited at 10x investment proof of transformation mastery.</li>
          </ul>`,
        svg: 'smallbus',
        src: smallbus,
        alt: 'Yellow and black heavy equipment on brown grass field',
        first: true,
      },
      {
        heading: 'Proven Executive Leadership',
        content: `<ul class='pl-4 list-disc list-outside mt-1 text-pretty text-neutral-700 dark:text-neutral-300'>
          <li class="mt-2">CEO (ITS), COO (3 companies, 18 years total)</li>
          <li class="mt-2">Program Manager (6 years)</li>
          <li class="mt-2">Direct of Engineering (3 companies, 15 years)</li>
          </ul>`,
        svg: 'experience',
        src: experience,
        alt: 'A screenshot or graphic representation of business building experience',
        second: false,
      },
    ]}
  />
</MainLayout>
