---
// Import the necessary dependencies

import { Image } from 'astro:assets';
import logo from '@images/logo.png';

const { sizeClasses, footerLogo } = Astro.props;
---

<div class="flex items-center">
  <Image
    src={logo}
    alt="VCC Logo"
    class=`py-4 flex-none ${sizeClasses}`
    draggable={'false'}
    loading={'eager'}
    format={'png'}
  />
  <div class="font-logo">
    <div
      class=`text-lg pl-2 text-blue-300 ${!footerLogo && 'sm:text-xl md:text-2xl lg:text-3xl'}`
    >
      Value Creation Consulting
    </div>
    <div
      class=`${!footerLogo && 'hidden min-[433px]:block md:text-lg lg:text-xl'} text-center italic text-base  dark:text-white`
    >
      〝Managing by the numbers〞
    </div>
  </div>
</div>
{
  !footerLogo && (
    <div class="min-[433px]:hidden italic dark:text-white font-logo">
      〝Managing by the numbers〞
    </div>
  )
}
